
.login-container{
    width: 100%;
    padding: 50px;
    background: #e8e8e8;
}
.login-container h1{
    font-weight: 200;
}
.login-div{
    background: white;
    margin: 50px auto;
    width: 490px;
    border: 1px solid #f1eeea;
}
.login-contant{
    padding: 35px;
    border: 1px solid #f1eeea;
}
.login-contant input{
    display: block;
    width: 100%;
    height: 35%;
    margin-top: 20px;
    height: 40px;
}
.log-but{
background: #f1eeea;
border: none;
color: white;
font-size: 16px;
text-align: center;
}
.log-but:hover{
    background: #037362;
}
::placeholder {
    color: #787878;
    font-size: 14px;
    padding-left: 10px;
  }
  
.login-contant p{
    color: #4667ff;
    font-size: 13px;
}