.Upper-nav{
    width: 100%;
    height: 66px;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Upper-nav a{
    display: inline-block;
    align-items: center;
    
}
.Upper-nav a:hover{
   color: #037362;
    
}
.Nav-link{
    display: flex;
    padding-left: 15px;
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;  
}

.Upper-nav a{
    text-decoration: none;
    font-size: 14px;
    margin-right: 14px;
    color: #282828;
    
} 

.Nav-logo img{
    width: 180px;
} 

.Nav-login{
    display: flex;
    padding-right: 15px;
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
}
/* .effect{
    padding-top: 10px;
    
  }
  .effect:before {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: darken(#0BAAD4, 10%);
      transform:  scaleX(0);
    }
   .effect:hover:before {
      transform:  scaleX(1);
    } */

    .Lower-nav{
        display: flex;
    }

.Lower-nav ul{
    display: flex;
    text-decoration: none;
    margin: 0 auto;
 }

 .Lower-nav a{
     font-size: 16px;
     margin: 0 18px;
     color: #6b6f6f;
 }
 /* .test:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #034752;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.5s, transform 0.3s, color 0.3s;
    transform: translateY(-5px);
} */