.second-section{
    display: flex;
   flex-wrap: wrap;
   padding: 60px 60px;
   margin: 0 auto;
   max-width: 1366px;
   border-bottom: 1px solid #e8e8e8;
}

.second-section-img-div{
    max-width: 50%;

}
.second-section-img-div img{
    width: 100%;
    height: 240px;
}
.second-section-link-div{
    max-width: 47%;
    margin-left: 30px;
}
.second-section-link-div a{
    display: block;
    border-left: 7px solid #037362;
    padding-left: 20px;
    text-decoration: none;
    font-family: "Cooper Light", Georgia, Times, "Times New Roman", serif;
    color: #282828;
}
.second-section-link-div h3{
     font-size: 28px;
     margin-top: 0;
}
.second-section-link-div h3:hover{
    color: #037362;
    text-decoration: underline;
}
.second-section-link-div p{
    font-size: 18px;
}